* text=auto !eol
modules/cdm_dataportal/INSTALL.txt -text
modules/cdm_dataportal/LICENSE.txt -text
modules/cdm_dataportal/cdm_api/LICENSE.txt -text
modules/cdm_dataportal/cdm_api/cdm_api.info -text
modules/cdm_dataportal/cdm_api/cdm_api.install -text
modules/cdm_dataportal/cdm_api/cdm_api.module -text
modules/cdm_dataportal/cdm_api/json/JSON.php -text
modules/cdm_dataportal/cdm_api/json/LICENSE -text
modules/cdm_dataportal/cdm_api/uuids.php -text
modules/cdm_dataportal/cdm_api/ws-test.sh -text
modules/cdm_dataportal/cdm_api/ws_stub/README.txt -text
modules/cdm_dataportal/cdm_api/ws_stub/json/accepted,5000004-stub.json -text
modules/cdm_dataportal/cdm_api/ws_stub/json/accepted,5000006-stub.json -text
modules/cdm_dataportal/cdm_api/ws_stub/json/allSecReferences.json -text
modules/cdm_dataportal/cdm_api/ws_stub/json/findTaxa,aaa,onlyAccepted=0,page=1.json -text
modules/cdm_dataportal/cdm_api/ws_stub/json/findTaxa,aaa,onlyAccepted=1,page=1.json -text
modules/cdm_dataportal/cdm_api/ws_stub/json/simple,ref,1001-stub.json -text
modules/cdm_dataportal/cdm_api/ws_stub/json/simple,ref,1002-stub.json -text
modules/cdm_dataportal/cdm_api/ws_stub/json/simple,ref,1003-stub.json -text
modules/cdm_dataportal/cdm_api/ws_stub/json/taxon,5000001-stub.json -text
modules/cdm_dataportal/cdm_api/ws_stub/json/taxon,5000002-stub.json -text
modules/cdm_dataportal/cdm_api/ws_stub/json/taxon,5000020-stub.json -text
modules/cdm_dataportal/cdm_api/ws_stub/json/taxon,5000021-stub.json -text
modules/cdm_dataportal/cdm_api/ws_stub/json/taxonomy,children,5000007-stub.json -text
modules/cdm_dataportal/cdm_api/ws_stub/json/taxonomy,children,5000008-stub.json -text
modules/cdm_dataportal/cdm_api/ws_stub/json/taxonomy,children,5000011-stub.json -text
modules/cdm_dataportal/cdm_api/ws_stub/json/taxonomy,parents,5000001-stub.json -text
modules/cdm_dataportal/cdm_api/ws_stub/json/taxonomy,parents,5000002-stub.json -text
modules/cdm_dataportal/cdm_api/ws_stub/json/taxonomy,parents,5000007-stub.json -text
modules/cdm_dataportal/cdm_api/ws_stub/json/taxonomy,parents,5000008-stub.json -text
modules/cdm_dataportal/cdm_api/ws_stub/json/taxonomy,parents,5000009-stub.json -text
modules/cdm_dataportal/cdm_api/ws_stub/json/taxonomy,root,.json -text
modules/cdm_dataportal/cdm_api/ws_stub/json/taxonomy,root,1001-stub.json -text
modules/cdm_dataportal/cdm_api/ws_stub/json/types,90000001-stub.json -text
modules/cdm_dataportal/cdm_api/ws_stub/json/types,90000002-stub.json -text
modules/cdm_dataportal/cdm_api/xml2json.php -text
modules/cdm_dataportal/cdm_dataportal.css -text
modules/cdm_dataportal/cdm_dataportal.info -text
modules/cdm_dataportal/cdm_dataportal.module -text
modules/cdm_dataportal/cdm_dataportal.theme.php -text
modules/cdm_dataportal/cdm_dataportal_print.css -text
modules/cdm_dataportal/cdm_dataportal_screen.css -text
modules/cdm_dataportal/cdm_mediauri/LICENSE.txt -text
modules/cdm_dataportal/cdm_mediauri/cdm_mediauri.info -text
modules/cdm_dataportal/cdm_mediauri/cdm_mediauri.module -text
modules/cdm_dataportal/cdm_mediauri/rule-examples.txt -text
modules/cdm_dataportal/cdm_taxontree/LICENSE.txt -text
modules/cdm_dataportal/cdm_taxontree/cdm_taxontree.css -text
modules/cdm_dataportal/cdm_taxontree/cdm_taxontree.info -text
modules/cdm_dataportal/cdm_taxontree/cdm_taxontree.install -text
modules/cdm_dataportal/cdm_taxontree/cdm_taxontree.module -text
modules/cdm_dataportal/cdm_taxontree/concept_switch.gif -text
modules/cdm_dataportal/cdm_taxontree/images/btn_expand.gif -text
modules/cdm_dataportal/cdm_taxontree/images/button_master.xcf -text
modules/cdm_dataportal/cdm_taxontree/images/button_w_text_master.xcf -text
modules/cdm_dataportal/cdm_taxontree/images/cdm_taxontree_devider.png -text
modules/cdm_dataportal/cdm_taxontree/images/cdm_taxontree_devider.xcf -text
modules/cdm_dataportal/cdm_taxontree/images/filter_results_button.png -text
modules/cdm_dataportal/cdm_taxontree/images/go_to_interest.png -text
modules/cdm_dataportal/cdm_taxontree/images/reset_filters_button.png -text
modules/cdm_dataportal/cdm_taxontree/invisible.gif -text
modules/cdm_dataportal/cdm_taxontree/invisible_small.gif -text
modules/cdm_dataportal/cdm_taxontree/js/cdm_taxontree.js -text
modules/cdm_dataportal/cdm_taxontree/js/jquery.dimensions.js -text
modules/cdm_dataportal/cdm_taxontree/js/jquery.dimensions.pack.js -text
modules/cdm_dataportal/cdm_taxontree/js/jquery.scrollTo-min.js -text
modules/cdm_dataportal/cdm_taxontree/js/jquery.scrollTo.js -text
modules/cdm_dataportal/cdm_taxontree/loading_subtree.gif -text
modules/cdm_dataportal/cdm_taxontree/menu-leaf.gif -text
modules/cdm_dataportal/cdm_taxontree/minus.png -text
modules/cdm_dataportal/cdm_taxontree/plus.png -text
modules/cdm_dataportal/cdm_taxontree/resources/Invisible.gif -text
modules/cdm_dataportal/cdm_taxontree/resources/Visible.gif -text
modules/cdm_dataportal/cdm_taxontree/resources/concept_switch.ai -text
modules/cdm_dataportal/cdm_taxontree/resources/concept_switch.psd -text
modules/cdm_dataportal/cdm_taxontree/resources/eye.png -text
modules/cdm_dataportal/cdm_taxontree/resources/loading_subtree.psd -text
modules/cdm_dataportal/cdm_taxontree/visible.gif -text
modules/cdm_dataportal/cdm_taxontree/visible_implicit.gif -text
modules/cdm_dataportal/cdm_taxontree/visible_implicit_small.gif -text
modules/cdm_dataportal/cdm_taxontree/visible_small.gif -text
modules/cdm_dataportal/cdm_ws_urls.txt -text
modules/cdm_dataportal/images/Protolog-media.png -text
modules/cdm_dataportal/images/btn_collapse.gif -text
modules/cdm_dataportal/images/btn_expand.gif -text
modules/cdm_dataportal/images/external_link.gif -text
modules/cdm_dataportal/images/loading.gif -text
modules/cdm_dataportal/images/loading_circle_grey_16.gif -text
modules/cdm_dataportal/images/macFFBgHack.png -text
modules/cdm_dataportal/js/cdm_annotations.js -text
modules/cdm_dataportal/js/cdm_dynabox.js -text
modules/cdm_dataportal/js/cdm_thickbox.css -text
modules/cdm_dataportal/js/cluetip/Changelog.txt -text
modules/cdm_dataportal/js/cluetip/images/arrowdown.gif -text
modules/cdm_dataportal/js/cluetip/images/arrowleft.gif -text
modules/cdm_dataportal/js/cluetip/images/arrowright.gif -text
modules/cdm_dataportal/js/cluetip/images/arrowup.gif -text
modules/cdm_dataportal/js/cluetip/images/bl.gif -text
modules/cdm_dataportal/js/cluetip/images/bl.png -text
modules/cdm_dataportal/js/cluetip/images/br.gif -text
modules/cdm_dataportal/js/cluetip/images/br.png -text
modules/cdm_dataportal/js/cluetip/images/darrowdown.gif -text
modules/cdm_dataportal/js/cluetip/images/darrowleft.gif -text
modules/cdm_dataportal/js/cluetip/images/darrowright.gif -text
modules/cdm_dataportal/js/cluetip/images/darrowup.gif -text
modules/cdm_dataportal/js/cluetip/images/rarrowdown.gif -text
modules/cdm_dataportal/js/cluetip/images/rarrowleft.gif -text
modules/cdm_dataportal/js/cluetip/images/rarrowright.gif -text
modules/cdm_dataportal/js/cluetip/images/rarrowup.gif -text
modules/cdm_dataportal/js/cluetip/images/tl.gif -text
modules/cdm_dataportal/js/cluetip/images/tl.png -text
modules/cdm_dataportal/js/cluetip/images/tr.gif -text
modules/cdm_dataportal/js/cluetip/images/tr.png -text
modules/cdm_dataportal/js/cluetip/jquery.cluetip.css -text
modules/cdm_dataportal/js/cluetip/jquery.cluetip.js -text
modules/cdm_dataportal/js/cluetip/jquery.cluetip.min.js -text
modules/cdm_dataportal/js/cluetip/jquery.dimensions.js -text
modules/cdm_dataportal/js/cluetip/jquery.hoverIntent.js -text
modules/cdm_dataportal/js/cluetip/wait.gif -text
modules/cdm_dataportal/js/jquery-ui.js -text
modules/cdm_dataportal/js/jquery.dimensions.js -text
modules/cdm_dataportal/js/jquery.dimensions.pack.js -text
modules/cdm_dataportal/js/jquery.form.js -text
modules/cdm_dataportal/js/jquery.imagetool.min.js -text
modules/cdm_dataportal/js/thickbox.js -text
