* text=auto !eol
OpenLayers/OpenLayers.js -text
OpenLayers/img/blank.gif -text
OpenLayers/img/cloud-popup-relative.png -text
OpenLayers/img/drag-rectangle-off.png -text
OpenLayers/img/drag-rectangle-on.png -text
OpenLayers/img/east-mini.png -text
OpenLayers/img/layer-switcher-maximize.png -text
OpenLayers/img/layer-switcher-minimize.png -text
OpenLayers/img/marker-blue.png -text
OpenLayers/img/marker-gold.png -text
OpenLayers/img/marker-green.png -text
OpenLayers/img/marker.png -text
OpenLayers/img/measuring-stick-off.png -text
OpenLayers/img/measuring-stick-on.png -text
OpenLayers/img/north-mini.png -text
OpenLayers/img/panning-hand-off.png -text
OpenLayers/img/panning-hand-on.png -text
OpenLayers/img/slider.png -text
OpenLayers/img/south-mini.png -text
OpenLayers/img/west-mini.png -text
OpenLayers/img/zoom-minus-mini.png -text
OpenLayers/img/zoom-plus-mini.png -text
OpenLayers/img/zoom-world-mini.png -text
OpenLayers/img/zoombar.png -text
OpenLayers/theme/default/framedCloud.css -text
OpenLayers/theme/default/google.css -text
OpenLayers/theme/default/ie6-style.css -text
OpenLayers/theme/default/img/add_point_off.png -text
OpenLayers/theme/default/img/add_point_on.png -text
OpenLayers/theme/default/img/blank.gif -text
OpenLayers/theme/default/img/close.gif -text
OpenLayers/theme/default/img/drag-rectangle-off.png -text
OpenLayers/theme/default/img/drag-rectangle-on.png -text
OpenLayers/theme/default/img/draw_line_off.png -text
OpenLayers/theme/default/img/draw_line_on.png -text
OpenLayers/theme/default/img/draw_point_off.png -text
OpenLayers/theme/default/img/draw_point_on.png -text
OpenLayers/theme/default/img/draw_polygon_off.png -text
OpenLayers/theme/default/img/draw_polygon_on.png -text
OpenLayers/theme/default/img/editing_tool_bar.png -text
OpenLayers/theme/default/img/move_feature_off.png -text
OpenLayers/theme/default/img/move_feature_on.png -text
OpenLayers/theme/default/img/navigation_history.png -text
OpenLayers/theme/default/img/overview_replacement.gif -text
OpenLayers/theme/default/img/pan-panel-NOALPHA.png -text
OpenLayers/theme/default/img/pan-panel.png -text
OpenLayers/theme/default/img/pan_off.png -text
OpenLayers/theme/default/img/pan_on.png -text
OpenLayers/theme/default/img/panning-hand-off.png -text
OpenLayers/theme/default/img/panning-hand-on.png -text
OpenLayers/theme/default/img/remove_point_off.png -text
OpenLayers/theme/default/img/remove_point_on.png -text
OpenLayers/theme/default/img/ruler.png -text
OpenLayers/theme/default/img/save_features_off.png -text
OpenLayers/theme/default/img/save_features_on.png -text
OpenLayers/theme/default/img/view_next_off.png -text
OpenLayers/theme/default/img/view_next_on.png -text
OpenLayers/theme/default/img/view_previous_off.png -text
OpenLayers/theme/default/img/view_previous_on.png -text
OpenLayers/theme/default/img/zoom-panel-NOALPHA.png -text
OpenLayers/theme/default/img/zoom-panel.png -text
OpenLayers/theme/default/style.css -text
/ahah-content.js -text
/cache_all_taxa.js -text
/cdm_annotations.js -text
/cdm_dynabox.js -text
cluetip/Changelog.txt -text
cluetip/images/arrowdown.gif -text
cluetip/images/arrowleft.gif -text
cluetip/images/arrowright.gif -text
cluetip/images/arrowup.gif -text
cluetip/images/bl.gif -text
cluetip/images/bl.png -text
cluetip/images/br.gif -text
cluetip/images/br.png -text
cluetip/images/darrowdown.gif -text
cluetip/images/darrowleft.gif -text
cluetip/images/darrowright.gif -text
cluetip/images/darrowup.gif -text
cluetip/images/rarrowdown.gif -text
cluetip/images/rarrowleft.gif -text
cluetip/images/rarrowright.gif -text
cluetip/images/rarrowup.gif -text
cluetip/images/tl.gif -text
cluetip/images/tl.png -text
cluetip/images/tr.gif -text
cluetip/images/tr.png -text
cluetip/jquery.cluetip.css -text
cluetip/jquery.cluetip.js -text
cluetip/jquery.cluetip.min.js -text
cluetip/jquery.dimensions.js -text
cluetip/jquery.hoverIntent.js -text
cluetip/wait.gif -text
jquery-lightbox-0.5/css/jquery.lightbox-0.5.css -text
jquery-lightbox-0.5/images/lightbox-blank.gif -text
jquery-lightbox-0.5/images/lightbox-btn-close.gif -text
jquery-lightbox-0.5/images/lightbox-btn-next.gif -text
jquery-lightbox-0.5/images/lightbox-btn-prev.gif -text
jquery-lightbox-0.5/images/lightbox-ico-loading.gif -text
jquery-lightbox-0.5/index.htm -text
jquery-lightbox-0.5/js/jquery.lightbox-0.5.js -text
jquery-lightbox-0.5/photos/image1.jpg -text
jquery-lightbox-0.5/photos/image2.jpg -text
jquery-lightbox-0.5/photos/image3.jpg -text
jquery-lightbox-0.5/photos/image4.jpg -text
jquery-lightbox-0.5/photos/image5.jpg -text
jquery-lightbox-0.5/photos/thumb_image1.jpg -text
jquery-lightbox-0.5/photos/thumb_image2.jpg -text
jquery-lightbox-0.5/photos/thumb_image3.jpg -text
jquery-lightbox-0.5/photos/thumb_image4.jpg -text
jquery-lightbox-0.5/photos/thumb_image5.jpg -text
/jquery-ui.js -text
/jquery.dimensions.js -text
/jquery.dimensions.pack.js -text
/jquery.form.js -text
/jquery.imagetool.min.js -text
jquery.progressbar/demo.php -text
jquery.progressbar/demo.txt -text
jquery.progressbar/images/progressbar.gif -text
jquery.progressbar/images/progressbg_black.gif -text
jquery.progressbar/images/progressbg_green.gif -text
jquery.progressbar/images/progressbg_orange.gif -text
jquery.progressbar/images/progressbg_red.gif -text
jquery.progressbar/images/progressbg_yellow.gif -text
jquery.progressbar/js/jquery.js -text
jquery.progressbar/js/jquery.progressbar.js -text
jquery.progressbar/js/jquery.progressbar.min.js -text
thickbox/cdm_thickbox.css -text
thickbox/thickbox.js -text
