/* ==== tree containers ==== */

/* --- one scrollable container for plain box --- */

div.cdm_taxontree_scroller_xy {
  overflow: auto;
  height: 300px;
}

/* ---- separate horizontal and vertical scrollable
containers in case of magic box mode,
plus container to span the tree to its maximum width --- */
div.cdm_taxontree_scroller_x {
  border: 1px solid #adddfa;
  overflow: auto;
  overflow-x: auto;
  overflow-y: auto;
}

div.cdm_taxontree_container {
  width: 250px; /* should be greater than the sidebar width (e.g. 250px for the garland theme) */
}

div.cdm_taxontree_scroller_y {
  overflow: visible;
  overflow-y: visible;
  padding: 5px;
  border: 1px solid transparent;
  background-color: #edf5fa;
  height: 300px; /* this defines the height of the treebrowser box */
}

/* ==== styling the tree ==== */

ul.taxon-nodes {
  /* background-color: #edf5fa; */
  padding: 0pt 0pt 0.25em 1em;
  left: 0px; /* fix IE7? */
  margin: 0;
}

ul.taxon-nodes li {
  padding: 0pt 1em 0pt 1em;
  margin-left: -1em;
  list-style-image: none;
  list-style-type: none;
  white-space: nowrap;
  font-weight: normal;
}

ul.taxon-nodes li .active {
  list-style-image: none;
  list-style-type: none;
  color: #027ac6;
  font-weight: bold;
}

ul.taxon-nodes li.focused {
    list-style-image: none;
    list-style-type: none;
    font-weight: bold;
}

#block-cdm-taxontree-cdm-tree ul.taxon-nodes li.expanded,
#block-cdm-taxontree-cdm-tree ul.taxon-nodes .cdm_taxontree_filter li.expanded {
  list-style-image: none;
  list-style-type: none;
  background: transparent url(minus.png) no-repeat scroll 0px 0.35em;
  cursor: pointer;
}

#block-cdm-taxontree-cdm-tree ul.taxon-nodes li.collapsed,
#block-cdm-taxontree-cdm-tree ul.taxon-nodes .cdm_taxontree_filter li.collapsed {
  list-style-image: none;
  list-style-type: none;
  background: transparent url(plus.png) no-repeat scroll 0px 0.35em;
  cursor: pointer;
}

#block-cdm-taxontree-cdm-tree ul.taxon-nodes li.leaf {
  list-style-image: none;
  list-style-type: none;
  background:transparent url(menu-leaf.gif) no-repeat scroll 0px 0.35em;
}

ul.taxon-nodes li.filter_excluded {
  list-style-image: none;
  list-style-type: none;
  background-image: none;
  cursor: default;
  color: #888888;
}

ul.taxon-nodes li.leaf a,
ul.taxon-nodes li.expanded a,
ul.taxon-nodes li.collapsed a {
  display: inline;
  white-space: nowrap;
}

div.taxontree_header {
  height: 2em;
  display: block;
}

#cdm-taxonomictree-selector-form .form-item {
  margin-bottom: 0px;
  /*background-color:#f3f3f3;*/
  /*border:1px solid #dedede;*/
}

#cdm-taxonomictree-selector-form select {
  width: 100%;
}
