@CHARSET "ISO-8859-1";

div.cdm_taxontree_scroller_x {
	border: 0px solid #ADDDFA;
	overflow: auto;
	overflow-x: auto;
	overflow-y: auto;
}

div.cdm_taxontree_container {
	/* width: 250px; */
	width:34.75em;
	/* should be greater than the sidebar width (e.g. 250px for the garland theme) */
}

div.cdm_taxontree_scroller_y {
	overflow: visible;
	overflow-y: visible;
	border: 0px solid transparent;
	background-color: #EDF5FA;
	height: 200px; /* this defines the height of the treebrowser box */
}

ul.cdm_taxontree {
	background-color: #EDF5FA;
	padding: 0 0 0.25em 1em;
	left: 0px; /* fix IE7? */
	list-style-image: none;
	list-style-type: none;
}

ul.cdm_taxontree li {
	padding: 0 1em;
  list-style-type: none;
  list-style-image: none;
	white-space: nowrap;
	font-weight: normal;
}

ul.cdm_taxontree li .active {
	color: #027AC6;
	font-weight: bold;
}

ul.cdm_taxontree li.expanded, ul.cdm_taxontree cdm_taxontree_filter li.expanded{
	background: transparent url(minus.png) no-repeat scroll 0px 0.35em;
	cursor: pointer;
}

ul.cdm_taxontree li.collapsed, ul.cdm_taxontree cdm_taxontree_filter li.collapsed {
	background: transparent url(plus.png) no-repeat scroll 0px 0.35em;
	cursor: pointer;
}

ul.cdm_taxontree li.focused {
	font-weight: bold;
}

ul.cdm_taxontree li.leaf {
	background: transparent url(menu-leaf.gif) no-repeat scroll 0px 0.35em;
}

ul.cdm_taxontree li.filter_excluded {
	background-image: none;
	cursor: default;
	color: #888888;
}

ul.cdm_taxontree li.leaf a,ul.cdm_taxontree li.expanded a,ul.cdm_taxontree li.collapsed a
	{
	display: inline;
	white-space: nowrap;
}

span.widget_select{
color:#316AA0;
}

/* --------- cdm_taxontree_widget  ----------- */
div.taxontree_header{
height:2em;
display:block;
}

div.cdm_taxontree_widget{
position:relative;
width:auto;
margin: .5em 0 1em 0;
}

/* heights: keep them consistent */
div.cdm_taxontree_widget div.taxontree_devider,
div.cdm_taxontree_widget div.taxontree,
div.cdm_taxontree_widget .cdm_taxontree_scroller_x,
div.cdm_taxontree_widget .cdm_taxontree_scroller_y{
	border:none;
	height: 200px;
	position:relative;
	float:none;
	clear:both;
}

/* maintain layering */
div.cdm_taxontree_widget div.taxontree,
div.cdm_taxontree_widget .cdm_taxontree_scroller_x,
div.cdm_taxontree_widget .cdm_taxontree_scroller_y{
	z-index: 10;
	border-color:#236abf;
}

/* widths*/
div.cdm_taxontree_widget div.taxontree {
	position:absolute;
	min-width:36em; /* -1em to catch the scroller_x padding */
	top:1.5em;
}

#views-filters div.cdm_taxontree_widget div.taxontree{
top:0;
}

div.cdm_taxontree_widget div.column-left{
	float:left;
	width:36em; /* -1em to catch the scroller_x padding */
}

div.cdm_taxontree_widget .taxontree_select {
	position:absolute;
	width: 36em;
	left: 40em;
	top:1.5em;
	height:202px;
}

#views-filters div.cdm_taxontree_widget .taxontree_select{
top:0;
}

div.cdm_taxontree_widget div.column-right{
	margin-left: 40em;
}

/* labels */
div.cdm_taxontree_widget div.field-label {
	font-weight: 700;
}

/* the devider to show the arrows in between */
div.cdm_taxontree_widget .taxontree_devider {
	position:relative;
	width: 4em;
	left: 36em;
	background: transparent url(images/cdm_taxontree_devider.png) no-repeat 50% 50%;
}

div.cdm_taxontree_widget .hidden{
	position:absolute;
	left:-300em;
}

/* the right selectbox */
div.cdm_taxontree_widget .taxontree_select {
	background-color: #EDF5FA;
	border: 1px solid #ADDDFA;
	z-index:1;
}

/* include childnodes */
div.include-options{
	margin: 1em 0 0 0;
	padding: 0 0 1em 0;
	clear:both;
}

div.cdm_taxontree_widget.form-item{
float:none;
}

div.cdm_taxontree_widget div.taxontree {
	background-color: #EDF5FA;
	border: 1px solid #ADDDFA;
	overflow-y:hidden;
	overflow-x:auto;
}

div.cdm_taxontree_widget .widget_select {
	cursor: pointer;
}

div.cdm_taxontree_widget option[selected] {
	background-color: #EDF5FA;
}

/* addnode */
select.expertsdb_addnode_select {
width:24em;
background-color: #EDF5FA;
border: 1px solid #ADDDFA;
}

select#edit-taxonomy-4, select#edit-taxonomy-5, select#edit-taxonomy-2 {
width:36em;
background-color: #EDF5FA;
border: 1px solid #ADDDFA;
}

#views-filters .fieldset-wrapper{
border:none;
border-top:1px solid #ADDDFA
border-bottom: 1px solid #ADDDFA;
overflow-y:visible;
}


#views-filters fieldset legend a{
color:#316AA0;
font-weight: 700;
}