/**
 * @file
 * cdm_dataportal specific styling
 *
 * Style the markup found in the cdm_dataportal module.
 */

 @import "base";

#featureTOC {
	float:right;
}

#taxonProfileImage{
	float: left;
}

.block-cdm-dataportal-feature {
	clear: both;
	dt {
	    float: left;
	    font-weight: bold;
	    margin-right: 0.3em;
	}
	dd {
		margin: 0;
	}
}

#backButton {
	text-align: right;
}

#search_results{
	@include cdm-link-style;
}

/*
 * Synonymy
 */

ul.homotypicSynonyms,
ul.heterotypicSynonymyGroup {
  border-bottom:1px solid #dedede;
}

/*
 * Theme settings page
 */
#system-theme-settings {

	.image-preview {
		width: 600px;
		max-height: 150px;
		overflow: auto; // let it scroll
		img {
			max-width: none; /* reset style in mormalize.scss */ 
		}
		
	}
}