/**
 * @file
 * cdm_dataportal specific styling
 *
 * Style the markup found in the cdm_dataportal module.
 */
@import url("../fonts/notosans-webfont-2017-2/stylesheet.css");
@import url("../fonts/notomono-webfont-2020/stylesheet.css");
/* line 30, ../sass/ie-legacy.scss */
.pie-element, .lt-ie9 #page {
  behavior: url("/polyfills/css3pie/PIE-1.0.0.htc");
  position: relative;
}

/* line 43, ../sass/ie-legacy.scss */
.pie-container {
  z-index: 0;
  position: relative;
}

/* line 47, ../sass/ie-legacy.scss */
.z-pie-element, .lt-ie9 #page {
  behavior: url("/polyfills/css3pie/PIE-1.0.0.htc");
  z-index: 0;
}

/* line 63, ../sass/ie-legacy.scss */
.lt-ie9 #header {
  /* 
   * reset right padding to zero and use margin-right instead,
   * this avoids the need for background-clip: content-box
   * which is not suppoorted in IE < 9
   */
  padding-right: 0;
  margin-right: 20px;
}

/* line 43, ../sass/_mixins.scss */
.block a:link,
.block a:visited, .node a:link,
.node a:visited, #identificationKey a:link,
#identificationKey a:visited, #content a:link,
#content a:visited {
  color: #115e92;
  text-decoration: none;
}
/* line 49, ../sass/_mixins.scss */
.block a:hover,
.block a:focus, .node a:hover,
.node a:focus, #identificationKey a:hover,
#identificationKey a:focus, #content a:hover,
#content a:focus {
  text-decoration: underline;
}
/* line 58, ../sass/_mixins.scss */
.block .Synonym a:link,
.block .Synonym a:visited, .block .misapplied-name a:link,
.block .misapplied-name a:visited, .node .Synonym a:link,
.node .Synonym a:visited, .node .misapplied-name a:link,
.node .misapplied-name a:visited, #identificationKey .Synonym a:link,
#identificationKey .Synonym a:visited, #identificationKey .misapplied-name a:link,
#identificationKey .misapplied-name a:visited, #content .Synonym a:link,
#content .Synonym a:visited, #content .misapplied-name a:link,
#content .misapplied-name a:visited {
  color: #7c7c7c;
}
/* line 64, ../sass/_mixins.scss */
.block .Taxon a:link,
.block .Taxon a:visited, .node .Taxon a:link,
.node .Taxon a:visited, #identificationKey .Taxon a:link,
#identificationKey .Taxon a:visited, #content .Taxon a:link,
#content .Taxon a:visited {
  color: #115e92;
}

/* line 21, ../sass/cdm.scss */
.node-cdm-name .name-page-name {
  margin-top: 10px;
  margin-bottom: 10px;
}
/* line 25, ../sass/cdm.scss */
.node-cdm-name .registered_name {
  font-weight: bold;
}
/* line 28, ../sass/cdm.scss */
.node-cdm-name .type-status {
  font-weight: bold;
}

/* line 34, ../sass/cdm.scss */
#content a.tabs-primary__tab-link {
  color: #333;
}
/* line 38, ../sass/cdm.scss */
#content table {
  caption-side: top;
}
/* line 39, ../sass/cdm.scss */
#content table th {
  text-align: left;
}
/* line 43, ../sass/cdm.scss */
#content table caption {
  text-align: right;
  font-size: smaller;
}

/* line 50, ../sass/cdm.scss */
#page-toc {
  float: right;
  background-color: white;
}
/* line 53, ../sass/cdm.scss */
#page-toc h3 {
  margin-top: 0;
  line-height: 22.4px;
}

/* line 59, ../sass/cdm.scss */
#taxonProfileImage {
  float: left;
}

/* line 64, ../sass/cdm.scss */
.block-cdm-dataportal-feature .content-caption {
  text-align: right;
}
/* line 67, ../sass/cdm.scss */
.block-cdm-dataportal-feature .label {
  font-style: italic;
}

/* line 72, ../sass/cdm.scss */
.block-cdm-dataportal-feature, .media-caption, .specimens {
  clear: both;
  margin-bottom: 22.4px;
}
/* line 75, ../sass/cdm.scss */
.block-cdm-dataportal-feature dt, .media-caption dt, .specimens dt {
  float: left;
  font-weight: bold;
  margin-right: 0.3em;
}
/* line 80, ../sass/cdm.scss */
.block-cdm-dataportal-feature dd, .media-caption dd, .specimens dd {
  margin: 0;
  margin-left: 20px;
}
/* line 84, ../sass/cdm.scss */
.block-cdm-dataportal-feature dl dl, .media-caption dl dl, .specimens dl dl {
  margin: 0;
  /* reset default from cdm_dataportal.css */
}

/* line 89, ../sass/cdm.scss */
.breadcrumbs li {
  padding: 0 0 0 0;
}

/* line 94, ../sass/cdm.scss */
.description-table .described-entities .label {
  font-weight: bold;
}

/*
 * Search results
 */
/* line 43, ../sass/_mixins.scss */
#search_results a:link,
#search_results a:visited {
  color: #115e92;
  text-decoration: none;
}
/* line 49, ../sass/_mixins.scss */
#search_results a:hover,
#search_results a:focus {
  text-decoration: underline;
}
/* line 58, ../sass/_mixins.scss */
#search_results .Synonym a:link,
#search_results .Synonym a:visited, #search_results .misapplied-name a:link,
#search_results .misapplied-name a:visited {
  color: #7c7c7c;
}
/* line 64, ../sass/_mixins.scss */
#search_results .Taxon a:link,
#search_results .Taxon a:visited {
  color: #115e92;
}
/* line 108, ../sass/cdm.scss */
#search_results table {
  margin: 1em 0;
}

/* line 117, ../sass/cdm.scss */
div.cdm-item-list div.item {
  margin: 11.2px 0;
}

/*
 * Taxon page and parts
 */
/* line 126, ../sass/cdm.scss */
.page-part {
  margin-bottom: 22.4px;
  clear: none;
}

/*
 * definition list container rendered by the
 * drupal theme function theme_description_list()
 */
/* line 136, ../sass/cdm.scss */
.description_list h3 {
  font-size: 14px;
  line-height: 22.4px;
  font-weight: bold;
}

/*
 * Synonymy
 */
/* line 150, ../sass/cdm.scss */
#synonymy div.accepted-name {
  margin-bottom: -1em;
  margin-top: 1em;
}
/* line 155, ../sass/cdm.scss */
#synonymy .homotypic-synonymy-group, #synonymy .heterotypic-synonymy-group, #synonymy .taxon-relationships {
  border-bottom: 1px solid #DEDEDE;
  /* replace padding by margin */
  margin: 1em 0px;
  padding: 0;
}

/*
 * Media
 */
/* line 166, ../sass/cdm.scss */
dl.media-caption {
  margin: 0;
}

/* line 170, ../sass/cdm.scss */
.media-caption dd {
  margin-left: 0;
}
/* line 172, ../sass/cdm.scss */
.media-caption dd .title {
  font-size: 100%;
}

/* line 177, ../sass/cdm.scss */
.image-gallerie td.caption {
  padding-bottom: 1em;
}

/*
 * specimens and type designations
 */
/* line 185, ../sass/cdm.scss */
#specimens table.media_gallery {
  margin-top: 0.2em;
}
/* line 188, ../sass/cdm.scss */
#specimens .description_list {
  clear: both;
}
/* line 190, ../sass/cdm.scss */
#specimens .description_list h3 {
  margin-top: 0;
  background-color: #ddd;
}
/* line 194, ../sass/cdm.scss */
#specimens .description_list h4 {
  clear: left;
  margin-bottom: 0;
  font-style: italic;
}
/* line 200, ../sass/cdm.scss */
#specimens .dynabox_content {
  margin-left: 10px;
  margin-right: 10px;
}
/* line 204, ../sass/cdm.scss */
#specimens .block-cdm-dataportal-feature {
  margin-left: 20px;
  margin-bottom: 0;
}
/* line 207, ../sass/cdm.scss */
#specimens .block-cdm-dataportal-feature h2 {
  font-size: 14px;
  line-height: 22.4px;
  font-weight: bold;
}
/* line 214, ../sass/cdm.scss */
#specimens ul.typeDesignations {
  clear: both;
}
/* line 217, ../sass/cdm.scss */
#specimens .dna-sequence div {
  font-size: 14px;
  font-family: monospace;
  clear: left;
  padding-left: 20px;
}
/* line 223, ../sass/cdm.scss */
#specimens .derived_from {
  clear: both;
}

/*
 * derivatives tree view (see also derivation-tree.js)
 * partially based on ideas found in https://jsfiddle.net/xuonpjmh/21/
 */
/* line 241, ../sass/cdm.scss */
div.derived-unit-tree,
ul.derived-unit-sub-tree,
ul.derived-unit-sub-tree ul {
  list-style: none;
  margin: 0 0 0 3.2px;
  padding: 0;
}
/* line 246, ../sass/cdm.scss */
div.derived-unit-tree .unit-header,
ul.derived-unit-sub-tree .unit-header,
ul.derived-unit-sub-tree ul .unit-header {
  padding-top: 7px;
}
/* line 248, ../sass/cdm.scss */
div.derived-unit-tree .unit-header .unit-label,
ul.derived-unit-sub-tree .unit-header .unit-label,
ul.derived-unit-sub-tree ul .unit-header .unit-label {
  cursor: pointer;
  background-color: #dedede;
  padding-left: 5px;
}
/* line 252, ../sass/cdm.scss */
div.derived-unit-tree .unit-header .unit-label .page-link,
ul.derived-unit-sub-tree .unit-header .unit-label .page-link,
ul.derived-unit-sub-tree ul .unit-header .unit-label .page-link {
  float: right;
}
/* line 256, ../sass/cdm.scss */
div.derived-unit-tree .unit-header .unit-label:hover,
ul.derived-unit-sub-tree .unit-header .unit-label:hover,
ul.derived-unit-sub-tree ul .unit-header .unit-label:hover {
  background-color: #f8f8f8;
}
/* line 260, ../sass/cdm.scss */
div.derived-unit-tree .unit-content,
ul.derived-unit-sub-tree .unit-content,
ul.derived-unit-sub-tree ul .unit-content {
  padding: 11.2px;
  background-color: #ebebeb;
  display: grid;
  grid-column-gap: 11.2px;
  grid-row-gap: 11.2px;
}
@media all and (max-width: 659px) {
  /* line 260, ../sass/cdm.scss */
  div.derived-unit-tree .unit-content,
  ul.derived-unit-sub-tree .unit-content,
  ul.derived-unit-sub-tree ul .unit-content {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media all and (min-width: 660px) {
  /* line 260, ../sass/cdm.scss */
  div.derived-unit-tree .unit-content,
  ul.derived-unit-sub-tree .unit-content,
  ul.derived-unit-sub-tree ul .unit-content {
    grid-template-columns: repeat(2, 1fr);
  }
}
/* line 273, ../sass/cdm.scss */
div.derived-unit-tree .unit-content dl,
ul.derived-unit-sub-tree .unit-content dl,
ul.derived-unit-sub-tree ul .unit-content dl {
  margin: 0;
}
/* line 277, ../sass/cdm.scss */
div.derived-unit-tree .derivation-event,
ul.derived-unit-sub-tree .derivation-event,
ul.derived-unit-sub-tree ul .derivation-event {
  font-size: smaller;
  margin-top: -11.2px;
  color: #7c7c7c;
}

/* line 284, ../sass/cdm.scss */
div.derived-unit-tree table.specimen-or-observation-details {
  margin: 0;
  width: 100%;
  vertical-align: top;
  font-size: smaller;
  background-color: white;
}
/* line 290, ../sass/cdm.scss */
div.derived-unit-tree table.specimen-or-observation-details thead {
  border-bottom: thin solid #dedede;
}
/* line 293, ../sass/cdm.scss */
div.derived-unit-tree table.specimen-or-observation-details tbody {
  background-color: white;
}
/* line 295, ../sass/cdm.scss */
div.derived-unit-tree table.specimen-or-observation-details tbody .label {
  text-align: right;
  white-space: nowrap;
  border-right: thin solid #dedede;
  width: 50%;
}
/* line 302, ../sass/cdm.scss */
div.derived-unit-tree table.specimen-or-observation-details td, div.derived-unit-tree table.specimen-or-observation-details th {
  padding-right: 11.2px;
  padding-left: 11.2px;
}

/* line 309, ../sass/cdm.scss */
div.derived-unit-tree-root .unit-content-wrapper {
  border-left: 3px dotted #dedede;
  margin-left: 3.2px;
}

/* line 316, ../sass/cdm.scss */
ul.derived-unit-sub-tree ul {
  margin-left: 1.0em;
}
/* line 319, ../sass/cdm.scss */
ul.derived-unit-sub-tree li {
  position: relative;
  margin-left: 0;
  padding-left: 1em;
  margin-top: -3.2px;
  line-height: 22.4px;
  border-left: 3px dotted #dedede;
}
/* line 329, ../sass/cdm.scss */
ul.derived-unit-sub-tree li:last-child {
  border-left: none;
}
/* line 331, ../sass/cdm.scss */
ul.derived-unit-sub-tree li:last-child .unit-header, ul.derived-unit-sub-tree li:last-child .unit-content {
  margin-left: 3px;
}
/* line 335, ../sass/cdm.scss */
ul.derived-unit-sub-tree li:before {
  position: absolute;
  top: 3.2px;
  left: 0;
  width: 1em;
  /* width of horizontal line */
  height: 12.7px;
  /* vertical position of line */
  vertical-align: top;
  border-bottom: 3px dotted #dedede;
  content: "";
  display: inline-block;
}
/* line 347, ../sass/cdm.scss */
ul.derived-unit-sub-tree li:last-child:before {
  border-left: 3px dotted #dedede;
}

/*
 * Map
 */
/* line 355, ../sass/cdm.scss */
.openlayers-container {
  margin-top: 5px;
  margin-bottom: 5px;
}

/*
 * Registration page & items
 */
/* line 365, ../sass/cdm.scss */
.registration .type-status {
  font-weight: bold;
}
/* line 369, ../sass/cdm.scss */
.registration .registration-date-and-institute {
  color: #999;
}
/* line 375, ../sass/cdm.scss */
.registration .published-name .TaxonName .name {
  font-weight: bold;
}
/* line 379, ../sass/cdm.scss */
.registration .typified-name .cdm\:TaxonName {
  color: #999;
}
/* line 381, ../sass/cdm.scss */
.registration .typified-name .cdm\:TaxonName a {
  color: #999;
}
/* line 384, ../sass/cdm.scss */
.registration .typified-name .cdm\:TaxonName .TaxonName .name {
  font-weight: bold;
}
/* line 390, ../sass/cdm.scss */
.registration .registration-summary .registered_name .name {
  font-weight: bold;
}
/* line 393, ../sass/cdm.scss */
.registration .registration-summary .referenced_typified_name {
  color: #999;
}
/* line 396, ../sass/cdm.scss */
.registration .registration-summary .label {
  font-weight: bold;
}

/*
 * Theme settings page
 */
/* line 407, ../sass/cdm.scss */
#system-theme-settings .image-preview {
  width: 600px;
  max-height: 150px;
  overflow: auto;
}
/* line 411, ../sass/cdm.scss */
#system-theme-settings .image-preview img {
  max-width: none;
  /* reset style in mormalize.scss */
}

/*****************************************************************************************
 * RESPONSIVE
 *
 * using the same media queries here as in layout/_responsive.scss
 *****************************************************************************************/
/* line 424, ../sass/cdm.scss */
#classification-breadcrumbs {
  font-size: 1.5em;
  line-height: 1.5em;
}

@media all and (min-width: 960px) {
  /* line 435, ../sass/cdm.scss */
  #classification-breadcrumbs {
    font-size: 1em;
  }
}
/***************************
 * TESTING ONLY 2020-02-20
 */
/* line 443, ../sass/cdm.scss */
.font-noto {
  font-family: "Noto Sans", sans-serif !important;
}
