@CHARSET "UTF-8";

/**
#general {
	margin-top: 25px;
}

#general .clearfix{
	clear: both;
}

#general h2{
	font-size: 120%;
	color: #97ac2d;
}

*/
#general {
	line-height: 145%;
}


#taxonProfileImage {
	float: right;
}

.Taxon .reference, .Synonym .reference, .Taxon .status, .Synonym .status {
	font-size: 90%;
}

h2.with-tabs .authors{
	font-size: 90%;
	font-weight:bold;
}

a.toc:link, a.toc:visited {
  color: #F03300;
  font-size: 90%;
}

.media_gallery{
	font-size: 90%;
}


.media_gallery .media-caption dd.title {
  font-size:100%;
  font-weight:normal;
}

ul.cdm_taxontree {
  background-color: transparent;
  margin: 0
}

/* switch off highlighting of synonyms */
.synonym span.highlite{
  background-color: #96AB2C;
}

/* HACK for DEMO
div.error{
		display: none;
	}
*/
/* display imce browser in small font and less padding to have enough space in the Palmweb_2 body */
#file-list td {
    padding: 2px;
}
#imce-content, #imce-content * {
	font: 10px/10px Verdana,sans-serif;
}

/*style for maintenance page */
.maintenance-page {
  background: url("images/druplicon.png") no-repeat scroll 5.6em 5.3em #FFFFFF;
  border: 1px solid #BBBBBB;
  color: #000000;
  line-height: 1.2;
  margin: 4em;
  padding: 1em 1em 1em 128px;
  font-family: sans-serif;
}
.maintenance-page h1 {
  margin: 1.7em 0 1.1em;    
  font-size: 2.7em;
  font-weight: bold;
}
.maintenance-page #content-content {
  font-size: 1.12em;     
}
