/**
 * Customizations for your portal theme overriding the
 * Garland_cichorieae theme css.
 *
 * Put css overrides for your custom theme below.
 * For the Drupal CSS coding standard, see: http://drupal.org/node/302199.
 *
 * Note: To inherit the parent theme stylesheets, the child theme should have
 * at least one own stylesheet defined, and it should be named differently
 * from the stylesheets in the parent theme, otherwise it will override
 * the parent stylesheet. See also: http://drupal.org/node/225125.
 */

 /**
 * Overrides for Garland_cichorieae style.css
 */
 #test{
  color: inherit;
}

/********************************************************************/
/**
 * Overrides for Garland_cichorieae styleOverride.css
 */
#edit-logo {
  background: url("images/edit-logo.png") no-repeat scroll 0 0 #fff;
}

#splash {
  background: #eaeae2 url(images/flora-malesiana-header2.jpg) no-repeat scroll 0 0;
  float: right;
  height: 92px;
  overflow: hidden;
  width: 570px;
  z-index: 2;
}

#wrapper #container #header #logo-floater {
  background: url("images/flora-malesiana-logo-floater-bg-1.jpg") repeat-x scroll 0 0 #ff7800;
  z-index: 4;
}

#page-toc{
  float: left;
}