<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.php.debug.core.launching.webPageLaunch">
<booleanAttribute key="auto_generated_url" value="false"/>
<stringAttribute key="base_url" value="http://127.0.0.1/cyprus/?q=cdm_dataportal/taxon/2e58b1ab-03a9-4693-bcec-3b8e7f04b572"/>
<stringAttribute key="debugOutputEncoding" value="UTF-8"/>
<stringAttribute key="debugPages" value="debugAllPages"/>
<stringAttribute key="debugTransferEncoding" value="UTF-8"/>
<stringAttribute key="file_name" value="/Drupal5/index.php"/>
<booleanAttribute key="firstLineBreakpoint" value="false"/>
<stringAttribute key="name" value="Default PHP Web Server"/>
<listAttribute key="org.eclipse.debug.ui.favoriteGroups">
<listEntry value="org.eclipse.debug.ui.launchGroup.debug"/>
</listAttribute>
<booleanAttribute key="org.eclipse.php.debug.core.OpenInBrowser" value="true"/>
<stringAttribute key="org.eclipse.php.debug.core.PHP_Project" value="/Drupal5"/>
<booleanAttribute key="org.eclipse.php.debug.core.RunWithDebugInfo" value="true"/>
<stringAttribute key="org.eclipse.php.debug.core.SSHTunnelPassword" value=""/>
<stringAttribute key="org.eclipse.php.debug.core.SSHTunnelUserName" value=""/>
<booleanAttribute key="org.eclipse.php.debug.core.UseSSHTunnel" value="false"/>
<stringAttribute key="org.eclipse.php.debug.coreconfiguration_delegate_class" value="org.eclipse.php.internal.debug.core.launching.XDebugWebLaunchConfigurationDelegate"/>
<stringAttribute key="org.eclipse.php.debug.corephp_debugger_id" value="org.eclipse.php.debug.core.xdebugDebugger"/>
</launchConfiguration>
