/**
 * @file
 * RTL companion for the pages.css file.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/andreas\/workspaces\/_svn-trunk\/drupal-git\/7\.x\/themes\/zen_dataportal\/sass\/ie-legacy\.scss}line{font-family:\0000330}}
.pie-element, .lt-ie9 #page {
  behavior: url("/polyfills/css3pie/PIE-1.0.0.htc");
  position: relative;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/andreas\/workspaces\/_svn-trunk\/drupal-git\/7\.x\/themes\/zen_dataportal\/sass\/ie-legacy\.scss}line{font-family:\0000343}}
.pie-container {
  z-index: 0;
  position: relative;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/andreas\/workspaces\/_svn-trunk\/drupal-git\/7\.x\/themes\/zen_dataportal\/sass\/ie-legacy\.scss}line{font-family:\0000347}}
.z-pie-element, .lt-ie9 #page {
  behavior: url("/polyfills/css3pie/PIE-1.0.0.htc");
  z-index: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/andreas\/workspaces\/_svn-trunk\/drupal-git\/7\.x\/themes\/zen_dataportal\/sass\/ie-legacy\.scss}line{font-family:\0000363}}
.lt-ie9 #header {
  /* 
   * reset right padding to zero and use margin-right instead,
   * this avoids the need for background-clip: content-box
   * which is not suppoorted in IE < 9
   */
  padding-right: 0;
  margin-right: 20px;
}

/*
 * Header
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/andreas\/workspaces\/_svn-trunk\/drupal-git\/7\.x\/themes\/zen_dataportal\/sass\/pages-rtl\.scss}line{font-family:\0000313}}
#logo {
  /* Wrapping link for logo */
  float: right;
}

/*
 * Content
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/andreas\/workspaces\/_svn-trunk\/drupal-git\/7\.x\/themes\/zen_dataportal\/sass\/pages-rtl\.scss}line{font-family:\0000321}}
ul.inline li {
  /* List of links */
  display: inline-block;
  /* Bug in Safari causes display: inline to fail. */
  padding: 0 0 0 1em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/andreas\/workspaces\/_svn-trunk\/drupal-git\/7\.x\/themes\/zen_dataportal\/sass\/pages-rtl\.scss}line{font-family:\0000325}}
span.field-label {
  /* The inline field label used by the Fences.module */
  padding: 0 0 0 1em;
}
