/**
 * @file
 * RTL companion for the pages.css file.
 */
/*
 * Header
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/andreas\/workspaces\/_svn-trunk\/drupal-git\/7\.x\/themes\/zen_dataportal\/sass\/pages-rtl\.scss}line{font-family:\0000313}}
#logo {
  /* Wrapping link for logo */
  float: right;
}

/*
 * Content
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/andreas\/workspaces\/_svn-trunk\/drupal-git\/7\.x\/themes\/zen_dataportal\/sass\/pages-rtl\.scss}line{font-family:\0000321}}
ul.inline li {
  /* List of links */
  display: inline-block;
  /* Bug in Safari causes display: inline to fail. */
  padding: 0 0 0 1em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/andreas\/workspaces\/_svn-trunk\/drupal-git\/7\.x\/themes\/zen_dataportal\/sass\/pages-rtl\.scss}line{font-family:\0000325}}
span.field-label {
  /* The inline field label used by the Fences.module */
  padding: 0 0 0 1em;
}
