/**
 * @file
 * cdm_dataportal specific styling
 *
 * Style the markup found in the cdm_dataportal module.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/andreas\/workspaces\/_svn-trunk\/drupal-git\/7\.x\/themes\/zen_dataportal\/sass\/cdm\.scss}line{font-family:\0000311}}
#featureTOC {
  float: right;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/andreas\/workspaces\/_svn-trunk\/drupal-git\/7\.x\/themes\/zen_dataportal\/sass\/cdm\.scss}line{font-family:\0000315}}
#taxonProfileImage {
  float: left;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/andreas\/workspaces\/_svn-trunk\/drupal-git\/7\.x\/themes\/zen_dataportal\/sass\/cdm\.scss}line{font-family:\0000319}}
.block-cdm-dataportal-feature, .media-caption, .specimens {
  clear: both;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/andreas\/workspaces\/_svn-trunk\/drupal-git\/7\.x\/themes\/zen_dataportal\/sass\/cdm\.scss}line{font-family:\0000321}}
.block-cdm-dataportal-feature dt, .media-caption dt, .specimens dt {
  float: left;
  font-weight: bold;
  margin-right: 0.3em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/andreas\/workspaces\/_svn-trunk\/drupal-git\/7\.x\/themes\/zen_dataportal\/sass\/cdm\.scss}line{font-family:\0000326}}
.block-cdm-dataportal-feature dd, .media-caption dd, .specimens dd {
  margin: 0;
  margin-left: 20px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/andreas\/workspaces\/_svn-trunk\/drupal-git\/7\.x\/themes\/zen_dataportal\/sass\/cdm\.scss}line{font-family:\0000330}}
.block-cdm-dataportal-feature dl dl, .media-caption dl dl, .specimens dl dl {
  margin: 0;
  /* reset default from cdm_dataportal.css */
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/andreas\/workspaces\/_svn-trunk\/drupal-git\/7\.x\/themes\/zen_dataportal\/sass\/cdm\.scss}line{font-family:\0000336}}
#backButton {
  text-align: right;
}

/*
 * Searchresults
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/andreas\/workspaces\/_svn-trunk\/drupal-git\/7\.x\/themes\/zen_dataportal\/sass\/_custom\.scss}line{font-family:\0000363}}
#search_results a:link,
#search_results a:visited {
  color: #115e92;
  text-decoration: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/andreas\/workspaces\/_svn-trunk\/drupal-git\/7\.x\/themes\/zen_dataportal\/sass\/_custom\.scss}line{font-family:\0000369}}
#search_results a:hover,
#search_results a:focus {
  text-decoration: underline;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/andreas\/workspaces\/_svn-trunk\/drupal-git\/7\.x\/themes\/zen_dataportal\/sass\/_custom\.scss}line{font-family:\0000378}}
#search_results .Synonym a:link,
#search_results .Synonym a:visited, #search_results .misapplied-name a:link,
#search_results .misapplied-name a:visited {
  color: #7c7c7f;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/andreas\/workspaces\/_svn-trunk\/drupal-git\/7\.x\/themes\/zen_dataportal\/sass\/cdm\.scss}line{font-family:\0000348}}
#search_results table {
  margin: 1em 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/andreas\/workspaces\/_svn-trunk\/drupal-git\/7\.x\/themes\/zen_dataportal\/sass\/cdm\.scss}line{font-family:\0000353}}
ul.cdm_names li {
  margin: 20px 0;
}

/*
 * Synonymy
 */
/*
 * Media
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/andreas\/workspaces\/_svn-trunk\/drupal-git\/7\.x\/themes\/zen_dataportal\/sass\/cdm\.scss}line{font-family:\0000369}}
dl.media-caption {
  margin: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/andreas\/workspaces\/_svn-trunk\/drupal-git\/7\.x\/themes\/zen_dataportal\/sass\/cdm\.scss}line{font-family:\0000372}}
.media-caption dd.title {
  font-size: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/andreas\/workspaces\/_svn-trunk\/drupal-git\/7\.x\/themes\/zen_dataportal\/sass\/cdm\.scss}line{font-family:\0000375}}
.image-gallerie td.caption {
  padding-bottom: 1em;
}

/*
 * specimens
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/andreas\/workspaces\/_svn-trunk\/drupal-git\/7\.x\/themes\/zen_dataportal\/sass\/cdm\.scss}line{font-family:\0000383}}
#specimens table.media_gallery {
  margin-top: 0.2em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/andreas\/workspaces\/_svn-trunk\/drupal-git\/7\.x\/themes\/zen_dataportal\/sass\/cdm\.scss}line{font-family:\0000386}}
#specimens .description_list {
  clear: both;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/andreas\/workspaces\/_svn-trunk\/drupal-git\/7\.x\/themes\/zen_dataportal\/sass\/cdm\.scss}line{font-family:\0000388}}
#specimens .description_list h3 {
  margin-top: 0;
  background-color: #ddd;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/andreas\/workspaces\/_svn-trunk\/drupal-git\/7\.x\/themes\/zen_dataportal\/sass\/cdm\.scss}line{font-family:\0000392}}
#specimens .description_list h4 {
  clear: left;
  margin-bottom: 0;
  font-style: italic;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/andreas\/workspaces\/_svn-trunk\/drupal-git\/7\.x\/themes\/zen_dataportal\/sass\/cdm\.scss}line{font-family:\0000398}}
#specimens .dynabox_content {
  margin-left: 10px;
  margin-right: 10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/andreas\/workspaces\/_svn-trunk\/drupal-git\/7\.x\/themes\/zen_dataportal\/sass\/cdm\.scss}line{font-family:\00003102}}
#specimens .block-cdm-dataportal-feature {
  margin-left: 20px;
  margin-bottom: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/andreas\/workspaces\/_svn-trunk\/drupal-git\/7\.x\/themes\/zen_dataportal\/sass\/cdm\.scss}line{font-family:\00003105}}
#specimens .block-cdm-dataportal-feature h2 {
  font-size: 12px;
  line-height: 18px;
  font-weight: bold;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/andreas\/workspaces\/_svn-trunk\/drupal-git\/7\.x\/themes\/zen_dataportal\/sass\/cdm\.scss}line{font-family:\00003111}}
#specimens ul.typeDesignations {
  clear: both;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/andreas\/workspaces\/_svn-trunk\/drupal-git\/7\.x\/themes\/zen_dataportal\/sass\/cdm\.scss}line{font-family:\00003114}}
#specimens .dna-sequence div {
  font-size: 12px;
  font-family: monospace;
  clear: left;
  padding-left: 20px;
}

/*
 * Theme settings page
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/andreas\/workspaces\/_svn-trunk\/drupal-git\/7\.x\/themes\/zen_dataportal\/sass\/cdm\.scss}line{font-family:\00003128}}
#system-theme-settings .image-preview {
  width: 600px;
  max-height: 150px;
  overflow: auto;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/andreas\/workspaces\/_svn-trunk\/drupal-git\/7\.x\/themes\/zen_dataportal\/sass\/cdm\.scss}line{font-family:\00003132}}
#system-theme-settings .image-preview img {
  max-width: none;
  /* reset style in mormalize.scss */
}
