
/*************/
/* IE7 FIXES */
/*************/

 .comment-cloud{
background-position:right 7px;
padding:6px 0 0px;
}

 /**** fixes for pager ****/

 ul.pager li {
  margin: 0;
  padding: 0!important;
  display: inline !important;
}

 ul.pager a.active {
  margin:0;
  padding: 0px 8px 2px 10px;
  border-right: 1px solid #CFDDE3;
}

  ul.pager li.pager-current{
  padding: 2px 9px !important;
  margin-bottom: 3px;
}

.icon-box-right {
    margin-right: -38px;
}