/**
 * @file
 * cdm_dataportal specific styling
 *
 * Style the markup found in the cdm_dataportal module.
 */

@import "init";


$page-part-margin: $base-line-height * 1;

// style links only for content in blocks and node and backbutton
// added also #identificationKey since there are not yet drupal nodes
// #content requires the fix below!
.block, .node, #identificationKey, #content {
  @include cdm-link-style;
}

.node-cdm-name {
  .name-page-name {
    margin-top: $zen-gutter-width / 2;
    margin-bottom: $zen-gutter-width / 2;
  }
  .registered_name{
    font-weight: bold;
  }
  .type-status {
    font-weight: bold;
  }
}

#content {
  a.tabs-primary__tab-link {
    color: #333; // increasing specificity to avoid the color of the tabs to be overwritten
  }

  table {
    th {
      text-align: left;
    }
    caption-side: top;
    caption {
      text-align: right;
      font-size: smaller;
    }
  }
}

  #page-toc {
    float:right;
    background-color: $page-background-color;
    h3 {
      margin-top: 0;
      line-height: $base-line-height;
    }
  }

  #taxonProfileImage{
    float: left;
  }

  .block-cdm-dataportal-feature {
    .content-caption {
      text-align: right;
    }
    .label { // for CategoricalData and QuantitativeData but could be used for other situations, therefore style rule is not too specific
      font-style: italic;
    }
  }

  .block-cdm-dataportal-feature,  .media-caption, .specimens { // TODO .specimens may be obsolete
    clear: both;
    margin-bottom: $page-part-margin;
    dt {
      float: left;
      font-weight: bold;
      margin-right: 0.3em;
    }
    dd {
      margin: 0;
      margin-left: $zen-gutter-width;
    }
    dl dl {
      margin: 0; /* reset default from cdm_dataportal.css */
    }
  }

  .breadcrumbs li {
    padding: 0 0 0 0;
  }

  .description-table .described-entities {
    .label {
      font-weight: bold;
    }

  }

  /*
   * Search results
   */


  #search_results{
    @include cdm-link-style;

    table {
      margin: 1em 0;
    }
  }

  div.cdm-item-list {
    .label {
      // color: #9a9a9a;
    }
    div.item {
      margin: $base-line-height / 2 0;
    }
  }

  /*
   * Taxon page and parts
   */

  .page-part {
    margin-bottom: $page-part-margin;
    clear: none;
  }

  /*
   * definition list container rendered by the
   * drupal theme function theme_description_list()
   */
  .description_list {
    h3 {
      font-size: $base-font-size;
      line-height: $base-line-height;
      font-weight: bold;
    }
  }



  /*
   * Synonymy
   */

  #synonymy {
    div.accepted-name {
      margin-bottom: -1em;
      margin-top: 1em;
    }

    .homotypic-synonymy-group, .heterotypic-synonymy-group, .taxon-relationships {
      border-bottom: 1px solid #DEDEDE;
      /* replace padding by margin */
      margin: 1em 0px;
      padding: 0;
    }
  }

  /*
   * Media
   */
  dl.media-caption {
    margin: 0;
  }
  .media-caption {
    dd {
      margin-left: 0;
      .title {
        font-size: 100%;
      }
    }
  }
  .image-gallerie td.caption {
    padding-bottom: 1em;
  }

  /*
   * specimens and type designations
   */
  #specimens {
    table.media_gallery {
      margin-top: 0.2em;
    }
    .description_list {
      clear: both;
      h3 {
        margin-top: 0;
        background-color: #ddd;
      }
      h4 {
        clear: left;
        margin-bottom: 0;
        font-style: italic;
      }
    }
    .dynabox_content {
      margin-left: $zen-gutter-width / 2;
      margin-right: $zen-gutter-width / 2;
    }
    .block-cdm-dataportal-feature {
      margin-left: $zen-gutter-width;
      margin-bottom: 0;
      h2 {
        font-size: $base-font-size;
        line-height: $base-line-height;
        font-weight: bold;
      }
    }

    ul.typeDesignations {
      clear: both;
    }
    .dna-sequence div {
      font-size: $base-font-size;
      font-family: monospace;
      clear: left;
      padding-left: $zen-gutter-width;
    }
    .derived_from {
      clear: both;
    }
  }

  // derivatives tree view (see also derivation-tree.js)
  // partially based on ideas found in https://jsfiddle.net/xuonpjmh/21/
  $tree-entry-vspace: 7px; //$base-font-size / 2 ???
  $tree-line-width: 3px;
  $tree-line-style: $tree-line-width dotted $menu-bar-background-color;
  $tree-hline-length: 1em; // 5px;
  $tree-lines-top-offset: ($base-line-height / 7) ;
  $tree-lines-left-offset: $base-line-height / 7;
  div.derived-unit-tree,
  ul.derived-unit-sub-tree,
  ul.derived-unit-sub-tree ul {
    list-style: none;
    margin: 0 0 0 $tree-lines-left-offset;
    padding: 0;

   .unit-header {
     padding-top: $tree-entry-vspace;
     .unit-label {
       cursor: pointer;
       background-color: $menu-bar-background-color;
       padding-left: 5px;
     }
      .unit-label:hover {
        background-color: lighten($menu-bar-background-color, 10%)
      }
    }
    .unit-content {
      padding: $base-line-height / 2;
      background-color: lighten($menu-bar-background-color, 5%);
      dl {
        margin: 0;
      }
    }
  }
  div.derived-unit-tree {
    margin-top: -$tree-lines-top-offset; // needed for consistent spacing, see below
    table.specimen-or-observation-details {
      margin: 0;
      width: 50%;
      font-size: smaller;
      background-color: $page-background-color;
      thead {
        // background-color: $menu-bar-background-color;
        border-bottom: thin solid $menu-bar-background-color;
      }
      tbody {
        background-color: $page-background-color;
        .label {
          text-align: right;
          border-right: thin solid $menu-bar-background-color;

        }
      }
      td, th {
        padding-right: $base-line-height / 2;
        padding-left: $base-line-height / 2;
      }
    }
  }
  div.derived-unit-tree-root {
    .unit-content-wrapper {
      border-left: $tree-line-style;
      margin-left: $tree-lines-left-offset;
    }
    div.item-list { // class .item-list is defined by drupal theme function
      // margin-top: $tree-lines-top-offset;
    }
  }

  ul.derived-unit-sub-tree{
    ul {
      margin-left: 1.0em;
    }
    li {
      position: relative;

      margin-left: 0;
      padding-left: 1em;
      margin-top: -$tree-lines-top-offset;
      line-height: $base-line-height;

      border-left: $tree-line-style;
    }
    li:last-child {
      border-left: none;
      .unit-header, .unit-content {
        margin-left: $tree-line-width;
      }
    }
    li:before {
      position: absolute;
      top: $tree-lines-top-offset;
      left: 0;

      width: $tree-hline-length; /* width of horizontal line */
      height: $base-line-height / 2 + $tree-line-width / 2; /* vertical position of line */
      vertical-align: top;
      border-bottom: $tree-line-style;
      content: "";
      display: inline-block;
    }
    li:last-child:before {
      border-left: $tree-line-style;
    }
  }

  /*
   * Map
   */
  .openlayers-container {
    margin-top: $zen-gutter-width / 4;
    margin-bottom: $zen-gutter-width / 4;
  }

  /*
   * Registration page & items
   */
  .registration {

    .type-status{
      font-weight: bold;
    }

    .registration-date-and-institute {
      color: #999;
    }


    .published-name {
      .TaxonName .name {
        font-weight: bold;
      }
    }
    .typified-name .cdm\:TaxonName {
      color: #999;
      a {
        color: #999;
      }
      .TaxonName .name {
        font-weight: bold;
      }
    }

    .registration-summary {
      .registered_name .name {
        font-weight: bold;
      }
      .referenced_typified_name {
        color: #999;
      }
      .label {
        font-weight: bold;
      }
    }
  }

  /*
   * Theme settings page
   */
  #system-theme-settings {

    .image-preview {
      width: 600px;
      max-height: 150px;
      overflow: auto; // let it scroll
      img {
        max-width: none; /* reset style in mormalize.scss */
      }

    }
  }

  /*****************************************************************************************
   * RESPONSIVE
   *
   * using the same media queries here as in layout/_responsive.scss
   *****************************************************************************************/

  #classification-breadcrumbs {
    font-size: 1.5em;
    line-height: 1.5em;
  }

  @media all and (min-width: 480px) and (max-width: 959px) {


  }

  @media all and (min-width: 960px) {
    #classification-breadcrumbs {
      font-size: 1em;
    }
  }

/***************************
 * TESTING ONLY 2020-02-20
 */
.font-noto {
  font-family: $noto-sans !important;
}