@CHARSET "ISO-8859-1";


.taxonname .name{
  font-style: italic;
}

.relation_sign{
	margin-left: -1em; /* same as ul.typeDesignations */
	margin-right: 0.3em;
	float: left;
}

li .taxon{
}

.heterotypicSynonymyGroup li{
  margin-left: 26px;
}

ul.homotypicSynonyms, ul.heterotypicSynonymyGroup{
	 border-bottom: 1px solid #D4EBF9;
	 
}



ul.typeDesignations{
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: -1em; /* same as .relation_sign */
}

ul.typeDesignations li{
	background-image: none;
}


.misapplied .name{
 font-style: normal;
}
.misapplied .authors{
	display: none;
}

ul li.synonym{
  list-style-type: none;
  background-image: none;
}

li.firstentry{
  margin-left: 6px;
}


ul.cdm_names, ul.cdm_names li{
	 background-image: none;
}

ul li.dynabox{
  background-image: url('images/btn_expand.gif') no-repeat scroll 1px;
  cursor: pointer;
}

ul li.dynabox_expanded{
  background-image: url('images/btn_collapse.gif') no-repeat scroll 1px;
  cursor: pointer;
}


ul li.dynabox .label{
 cursor: default;
}
