@CHARSET "ISO-8859-1";
/* $Id$ */

div.debug{
  background-color: #252525;
  color: #FEFEFE;
  font-family: monospace;
  font-size: 90%;	
  overflow: auto;
}

.taxonname .name{
  font-style: italic;
}

.relation_sign{
	margin-left: -1em; /* same as ul.typeDesignations */
	margin-right: 0.3em;
	float: left;
}

li .taxon{
}

.heterotypicSynonymyGroup li{
  margin-left: 26px;
}

ul.homotypicSynonyms, ul.heterotypicSynonymyGroup{
	 border-bottom: 1px solid #D4EBF9;
	 
}

ul.typeDesignations{
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: -1em; /* same as .relation_sign */
}

ul.typeDesignations li{
	background-image: none;
}


.misapplied .name{
 font-style: normal;
}
.misapplied .authors{
	display: none;
}

ul li.synonym{
  list-style-type: none;
  background-image: none;
}

li.firstentry{
  margin-left: 6px;
}


ul.cdm_names, ul.cdm_names li{
	 background-image: none;
}

ul li.dynabox{
  background-image: url('images/btn_expand.gif');
  background-repeat: no-repeat;
  cursor: pointer;
}

ul li.dynabox_expanded{
  background-image: url('images/btn_collapse.gif');
  background-repeat: no-repeat;
  cursor: pointer;
}


ul li.dynabox .label{
 cursor: default;
}



.pager strong, .pager a {
	-moz-border-radius-bottomleft:2px;
	-moz-border-radius-bottomright:2px;
	-moz-border-radius-topleft:2px;
	-moz-border-radius-topright:2px;
	background-color:#DFEDF7;
	border:1px solid #90C2E1;
	margin:0px 0.25em;
	padding:2px 5px;
}

.pager strong {
	background-color:#0174BB;
	color:#FFFFFF;
}

.pager-list-dots-right, .pager-list-dots-left {
  display: inline;
}