#block-cdm-api-cdm-ws-debug {
    background-color: #373737;
    color: #fff;
    border: 1px solid #fff;
    -moz-box-shadow: inset 0 0 3px 2px #fff;
    -webkit-box-shadow: inset 0 0 3px 2px #fff;
    box-shadow: inset 0 0 3px 2px #fff;
}

#cdm-ws-debug-table-container {
    display: none;
}

#block-cdm-api-cdm-ws-debug h4 {
    margin: 3px;
    padding: 0;
}

#cdm-ws-debug-table {
    width: 100%;
}

#cdm-ws-debug-table code {
    font-weight: normal;
}

#cdm-ws-debug-table td.data_links a {
    color: #999;
}
#cdm-ws-debug-table tr.valid td.data_links a {
    color: #1bdf00;
}
#cdm-ws-debug-table tr.invalid td.data_links a {
    color: #f3000a;
}
#cdm-ws-debug-table tr.cacheL1, #cdm-ws-debug-table tr.cacheL2 {
    color: #999;
}
#cdm-ws-debug-table .ws_uri {
    width: 50%;
}