@CHARSET "UTF-8";

.expertsdb-address-fieldset .form-item {
	padding: 0;
	margin: 0;
}

.expertsdb-address-street1 .form-item {
	clear: none;
	float: left;
	margin-right: 2em;
	width: 50em;
}

.expertsdb-address-apt .form-item {
	clear: right;
	float: left;
	margin-right: 2em;
	width: 50em;
}

.expertsdb-address-street2 .form-item {
	clear: left;
	float: none;
	margin-right: 2em;
	width: 50em;
}

.expertsdb-address-city .form-item {
	float: none;
	clear: left;
	margin-right: 2em;
	width: 50em;
}

.expertsdb-address-state .form-item {
	clear: left;
	float: left;
	margin-right: 2em;
	width: 50em;
}

.expertsdb-address-state .form-select{
	width: 50em;
}

.expertsdb-address-state-alternative .form-item {
	clear: left;
	float: left;
	margin-right: 2em;
	width: 50em;
}

.expertsdb-address-zip .form-item {
	float: left;
	clear: left;
	margin-right: 2em;
	width: 30em;
}

.expertsdb-address-country .form-item {
	clear: left;
	float: left;
	margin-right: 2em;
	width: 50em;
}

.expertsdb-address-other .form-item {
	clear: left;
	clear: both;
	margin-right: 2em;
	width: 50em;
}

.expertsdb-address-fieldset .description {
	clear: both;
}

legend, legend a:link,legend a:active,legend a:visited{
font-weight:700;
color:#236abf;
}

legend a:hover{
text-decoration: underline;
}