
/**
 * ======= General styles =======
 *
 * @WA comment: these styles may affect the looks of the site, since these
 * are not CDM Dataportal specific classes or ids.
 * See also http://groups.drupal.org/node/6355.
 */

#derivate_hierarchy_table {
    width: 100%;
}

#derivate_hierarchy_table td.checkBoxCell {
    text-align: center;
    vertical-align: middle;
}

#block-cdm-api-cdm-ws-debug {
  background-color: #373737;
  color: #fff;
  border: 1px solid #fff;
  -moz-box-shadow: inset 0 0 3px 2px #fff;
  -webkit-box-shadow: inset 0 0 3px 2px #fff;
  box-shadow: inset 0 0 3px 2px #fff;
}

#cdm-ws-debug-table-container {
  display: none;
}

#block-cdm-api-cdm-ws-debug h4 {
  margin: 3px;
  padding: 0;
}

#cdm-ws-debug-table {
  width: 100%;
}

#cdm-ws-debug-table code {
  font-weight: normal;
}

#cdm-ws-debug-table td.data_links a {
  color: #999;
}
#cdm-ws-debug-table tr.valid td.data_links a {
  color: #1bdf00;
}
#cdm-ws-debug-table tr.invalid td.data_links a {
  color: #f3000a;
}
#cdm-ws-debug-table tr.cacheL1, #cdm-ws-debug-table tr.cacheL2 {
  color: #999;
}
#cdm-ws-debug-table .ws_uri {
  width: 50%;
}

/*
 * when nesting description lists the inner dl should
 * not have a margin at top and bottom, but should be
 * indented
 * Used in occurence details.
 */
dl dl {
    margin: 0 0 0 2em;
}

#block-system-main div.content {
  /* margin: 0 0 0.3em 0; */
}

.name {
  font-style: italic;
}

.rank,
.authors {
  font-style: normal;
}

.relation_sign {
  margin-left: -1em; /* Same as ul.typeDesignations. */
  margin-right: 0.3em;
  float: left;
  font-family: Arial, sans-serif;
}

.highlite {
  background-color: yellow;
}

ul.primary img.refresh {
  height: 14px;
  width: 14px;
}

/* this is used to highlite the first element in the classification chooser */
select.highlite-first-child option:first-child {
  font-weight: bold;
}

/*
 * ======= Search-Form =======
 */

#edit-search-area {
  height: 10em;
  overflow: auto;
}

/*
 * ======= Search-Results =======
 */
#block-cdm-dataportal-2 .description {
  display: none;
}

.fragment_highlight {
  font-size: 90%;
  margin-top: 0.3em;
}

.score-bar {
  width: 50px;
  height: 10px;
  border: 1px solid #dedede;
  background-color: #f3f3f3;
}
.score-bar .score-bar-indicator {
  background-color: #acd575;
  height: 10px;
}
.score-bar-value {
  width: 50px;
  height: 10px;
  margin-top: -11px; /* 10px plus 1px border. */
  font-size: 8px;
  line-height: 10px;
  background-color: transparent;
  text-align: center;
}

li .taxon {
}

/*
 * ======= Taxon Page =======
 */
.page-part {
  clear: both;
}

/*
 * ======= synonymy =======
 */

#synonymy ul {
    margin: 0;
}

#synonymy ul.heterotypicSynonymyGroup,
#synonymy ul.homotypicSynonymyGroup,
#synonymy ul.homotypicSynonyms,
#synonymy ul.taxonRelationships,
#synonymy ul.misapplied {
  margin-bottom: 0.5em;
}

#synonymy ul li {
  padding-bottom: 0px;
  padding-top: 0px;
  margin-bottom: 0px;
  margin-top: 0px;
}

.heterotypicSynonymyGroup li {
  margin-left: 26px;
}
.homotypic-synonymy-group,
.heterotypic-synonymy-group,
.taxon-relationships {
   border-bottom: 1px solid #dedede;
   padding: 1em 0;
}

/* footnotes in synonymy */
#synonymy ul.foototes {
  margin: 0;
}

.heterotypicSynonymyGroup li.footnotes,
.homotypicSynonymyGroup li.footnotes,
.homotypicSynonyms li.footnotes,
.misapplied li.footnotes,
.content li.descriptionText {
  margin-top: 10px;
  margin-left: 6px;
  padding-left: 6px;
  list-style: none;
  list-style-image: none;
  background-image: none;
}


#synonymy li.footnotes {
  list-style: none;
  list-style-image: none;
  background-image: none;
}

ul.typeDesignations {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: -1em; /* Same as .relation_sign. */
}
ul.typeDesignations li {
  background-image: none;
  list-style-type: none;
  list-style-image: none;
}

.form-item fieldset {
  font-size: 80%;
  margin-top: -3px;
  margin-left: 25px;
}
.form-item fieldset .featuretree_structure {
  height: 13em;
  overflow: auto;
}

.misapplied .name {
  /* font-style: normal; */
}
.misapplied .authors {
  display: none;
}
#edit-search-domisappliednames {
  vertical-align:baseline;
}

img.preview {
  margin: 5px 30px;
}

ul li.synonym {
  list-style-type: none;
  background-image: none;
}

li.firstentry {
  margin-left: 6px;
}

ul.cdm_names, ul.cdm_names li{
  background-image: none;
  list-style-type: none;
  list-style-image: none;
}

.dynabox .label:hover {
  color: #0174bb;
}

ul.cdm_names .dynabox_content {
  margin-top:-1em;
}

.tickbox_content {
  display: none;
}

.pager strong,
.pager a {
  -moz-border-radius-bottomleft: 2px;
  -moz-border-radius-bottomright: 2px;
  -moz-border-radius-topleft: 2px;
  -moz-border-radius-topright: 2px;
  background-color: #dfedf7;
  border: 1px solid #90c2e1;
  margin: 0px 0.25em;
  padding: 2px 5px;
}
.pager strong {
  background-color:#0174BB;
  color:#FFFFFF;
}
.pager-list-dots-right,
.pager-list-dots-left {
  display: inline;
}

a.filter_add:link,
a.filter_add:visited {
}

a.filter_remove:link,
a.filter_remove:visited {
  color: red;
}

a.synonym:LINK, a.synonym:VISITED,
.Synonym a:LINK, .Synonym a:VISITED,
.misapplied-name a:LINK,
.misapplied-name a:VISITED {
  color: #7c7c7f;
}

/* Synonyms with more than one accepted taxa. */
a.label:link,
a.label:visited {
  color: #7c7c7f;
}

.block-cdm-taxontree .content,
.block-cdm-dataportal-3 .content {
  font-size: 90%;
}
.content dt {
  float: left;
  font-weight: bold;
  margin-right: 0.3em;
}
.content dd {
  margin-left: 0;
  font-weight: normal;
}

.block-cdm-taxontree div.settings {
  /* background-color: #2587c3; */
  border-bottom: 1px solid #e0dfe3;
  border-top: 1px solid #e0dfe3;
}

.concept_switch {
  padding:0 0.2em;
}

.descriptionText,
.descriptionReference {
  vertical-align: top;
}

.annotation_box {
  display: none;
  background: #ffffcc;
  border: 1px solid #ffcc66;
  font-size: 9pt;
  padding: 5px
}
.annotation_box ul,
.annotation_box li {
  list-style-type: none;
  line-height: 11pt;
  padding: 0;
  margin: 0;
}

.annotation_box li {
  padding-left: 15px;
}

.annotation_create {
  margin-top: 20px;
  text-align: right;
}

.annotation_create textarea {
  width: 100%;
}

.annotation_create form {
  margin-bottom: 0;
}

/*
 * ==== Maps ====
 */

#openlayers {
  /* Should match the margin-bottom of .description. */
  margin-bottom: 0.75em;
}
#openlayers_map {
  width: 100%;
  height: 200px;
  border: 1px solid;
}
.openlayers_legend {
    background-color: white;
    filter:alpha(opacity=75); /* IE's opacity. */
    opacity: 0.75;
}

.distribution_map_caption {
  font-size: 90%;
  font-style: italic;
}


.distribution_map {
  border: 1px solid #ddd;
  background-color: #fff;
}

/*
 * ======= Media =======
 */
.media .viewer {
  margin-top: 20px;
}

/*
WA: Important, otherwise the media viewer will be displayed over the
Drupal Admin Overlay when this is used.

AK: this is not working since 'position: absolute;' will casue the content continer to be not extended to the site of
the image viewer
*/
div.cdm_media_viewer_image {
  /* position: absolute; */
  z-index: 1;
}
#openlayers {
  position: relative;
  z-index: 1;
}

.media ul.primary li a,
.media ul.primary li.active a,
.media ul.primary li a:hover,
.media ul.primary li a:visited,
.media ul.secondary li a,
.media ul.secondary li.active a,
.media ul.secondary li a:hover,
.media ul.secondary li a:visited {
  margin-left : 0px;
}

.media ul.primary li a.active {
  font-weight: bold;
}

.media_thumbnails {
  margin-top: 0px;
  margin-left: 0.3em;
}

.media_gallery tbody {
  border: 0px none;
}

.media_gallery td.caption {
  vertical-align: top;
}

.media-caption {
  margin-left: 0;
}

.media-caption dt.title {
  display: none;
}

.image-passe-partout{
  border: 0px none;
  background-color: #eee;
}

.image_viewer {
  border: 1px solid;
  background-color: #eee;
}


/*
 * ======= specific blocks =======
 */

#print_button {
  cursor: pointer;
}
#print_button span {
  color: #027AC6;
  margin-left: 0.3em; /* Spacing between image and text. */
}
#print_button span:hover {
  color: #0062A0;
  text-decoration: underline;
}

/*
 * ======= footnotes and annotations =======
 */
.annotations, .footnote{
  font-size: 88%;
}

.footnote-key {
  vertical-align: super;
  font-size: 80%;
  line-height: 100%; /* Compensate the line-height increase by vertical-align: super;. */
  font-style: italic;
}
.footnote-anchor {
  font-weight: bold;
}

/*
 * Feature tree
 */

.featuretree_structure {
   font-size: 90%;
   line-height: 1em;
   color: #999;
}
/* For compatibility with d5 themes. */
.block-cdm-dataportal-feature {
  clear: both;
}

#useRecords th {
  font-weight: normal;
}

/* for compatibility with d5 themes */
.block-cdm-dataportal-feature ul {
  margin: 0;
  padding: 0 0 0.25em 1em;
}

/**
 * ======= Settings forms =======
 */

/* Do not display the descriptions indented in the setup forms, D5 style. */
#cdm-settings-general .form-type-radio .description,
#cdm-settings-general .form-type-checkbox .description,
#cdm-settings-geo .form-type-radio .description,
#cdm-settings-geo .form-type-checkbox .description,
#cdm-settings-layout .form-type-radio .description,
#cdm-settings-layout .form-type-checkbox .description,
#cdm-settings-layout-taxon .form-type-radio .description,
#cdm-settings-layout-taxon .form-type-checkbox .description,
#cdm-settings-layout-search .form-type-radio .description,
#cdm-settings-layout-search .form-type-checkbox .description,
#cdm-settings-layout-media .form-type-radio .description,
#cdm-settings-layout-media .form-type-checkbox .description,
#cdm-settings-cache .form-type-radio .description,
#cdm-settings-cache .form-type-checkbox .description,
#cdm-settings-layout-media .form-type-radio .description,
#cdm-settings-layout-media .form-type-checkbox .description,
#ext-links-admin .form-type-radio .description,
#ext-links-admin .form-type-checkbox .description,
#cdm-mediauri-rule-add .form-type-radio .description,
#cdm-mediauri-rule-add .form-type-checkbox .description {
  margin-left: 0;
}
/* Align checkboxes and radios as D5 style. */
#cdm-settings-general input.form-checkbox, input.form-radio,
#cdm-settings-geo input.form-checkbox, input.form-radio,
#cdm-settings-layout input.form-checkbox, input.form-radio,
#cdm-settings-layout-taxon input.form-checkbox, input.form-radio,
#cdm-settings-layout-search input.form-checkbox, input.form-radio,
#cdm-settings-layout-media input.form-checkbox, input.form-radio,
#cdm-settings-cache input.form-checkbox, input.form-radio,
#cdm-settings-layout-media input.form-checkbox, input.form-radio,
#ext-links-admin input.form-checkbox, input.form-radio,
#cdm-mediauri-rule-add input.form-checkbox, input.form-radio {
  vertical-align: baseline;
}

/* Custom style for the more-help links on the cdm settings pages. */
.cdm-dataportal-settings-more-help-link {
  font-size: 0.85em;
}
.cdm-dataportal-settings-more-help-link a {
  background-image: none;
  padding: 0;
}
#block-system-help .content {
  margin: 0;
}

/*
 * ======= specimens =======
 */
#specimens table.specimens {
    width: 100%;
}

#specimens .description_list h4 {
  clear: left;
    margin-bottom: 0;
    font-style: italic;
}

#specimens  .block-cdm-dataportal-feature h2 {
  font-size: 11px;
    font-weight: bold;
}

#specimens ul.footnotes {
    padding: 0;
}

#specimens .dna-sequence div {
    font-family: monospace;
}


/*
 * ======= Identification keys =======
 */

#identificationKey .sources span {
  display: block;
}

.polytomousKey_linkedStyle td {
  vertical-align: top;
  padding-top: 0;
}
.polytomousKey_linkedStyle tr.new_section td {
  padding-top: 1em;
}
.polytomousKey_linkedStyle tr:hover {
  background-color: #eee;
}
.polytomousKey_linkedStyle .nodeLink {
  float: right;
  text-align: right;
  padding-left: 2em;
}
.polytomousKey_linkedStyle td.edge-indent {
  padding-left: 2em;
}

/*
 * Overriding default style from drupal?
 * This prohibits select elements from overflowing the parent container
 */
select {
  max-width: 100%;
}
