div.preferred-email-field-column {
	float:left;
	clear:left;
  width: 33%;
  padding: 0 1em 0 0;
}

div.expertsdb-email-field-expertsdb-email{
	float:left;
	width: 61%;
}

div.expertsdb-email-field-subrow .form-item{
	margin-top:0;
}

legend, legend a:link,legend a:active,legend a:visited{
font-weight:700;
color:#236abf;
}

legend a:hover{
text-decoration: underline;
}