/**
 * @file
 * cdm_dataportal specific styling
 *
 * Style the markup found in the cdm_dataportal module.
 */

 @import "base";

#featureTOC {
	float:right;
}

#taxonProfileImage{
	float: left;
}

.block-cdm-dataportal-feature,  .media-caption {
	clear: both;
	dt {
	    float: left;
	    font-weight: bold;
	    margin-right: 0.3em;
	}
	dd {
		margin: 0;
	}
}


#backButton {
	text-align: right;
}

/*
 * Searchresults
 */


#search_results{
	@include cdm-link-style;

	table {
		margin: 1em 0;
	}
}

ul.cdm_names li {
  margin: 0.5em 0; 
}

/*
 * Synonymy
 */

ul.homotypicSynonyms,
ul.heterotypicSynonymyGroup {
  border-bottom:1px solid #dedede;
}

/*
 * Media
 */
dl.media-caption {
	margin: 0;
}
.media-caption dd.title {
	font-size: 100%;
}
.image-gallerie td.caption {
	padding-bottom: 1em;
}

/*
 * Theme settings page
 */
#system-theme-settings {

	.image-preview {
		width: 600px;
		max-height: 150px;
		overflow: auto; // let it scroll
		img {
			max-width: none; /* reset style in mormalize.scss */ 
		}
		
	}
}