@CHARSET "UTF-8";

/* navigation */
.edit-top-nav {
font-weight:bold;
fon-size; 1.2em;
color: #236abf;
border-bottom:2px solid #236abf;
margin: 0 0 2em 0;
}

.edit-top-nav a, .edit-top-nav a:link, .edit-top-nav a:visited, .edit-top-nav a:active{
color: #236abf;
}

.title,.title-inline,.label,.field-label,.item-label,.category,.field-label-inline-first{
font-weight:bold;
color: #236abf;
}

h3.title{
border-bottom:1px solid #ddd;
}

div.nodeprofile-person{
margin: 2em 0 2.5em 0;
padding: 0 0 .5em 0;
border-bottom:3px solid #ddd;
}

.name-alias{
color: #68a6ef;
}

div.nodeprofile-contact{
margin: .5em 0 .5em 0;
padding: 0;
}

div.nodeprofile-display{
margin: .5em 0 2.5em 0;
padding: 0;
}

div.nodeprofile-dates{
margin: .5em 0 2.5em 0;
padding: 0;
}

div.nodeprofile-person .field-label, div.nodeprofile-details .field-label{
clear:left;
display:block;
border-bottom: 1px solid #eee;
}

div.item-label{
clear:left;
float:left;
width:12em;
}

div.expertsdb-link-container,div.expertsdb-phone-numbers-container,div.expertsdb-address-container{
margin:2em 0 0 0;
}

/* taxon interests */
div.expertsdb-taxon-interests{
margin: 0 0 2.5em 0;
padding: 0 0 .5em 0;
}

div.expertsdb-taxon-notes{
margin: 2em 0 2.5em 0;
padding: 0 0 .5em 0;
}

div.expertsdb-geo-notes{
margin: 2em 0 2.5em 0;
padding: 0 0 .5em 0;
}
/* institutions */
.field-field-university{
font-size:1.1em;
margin: 1em 0;
font-weight: 700;
}

div.nodeprofile-details{
margin: 2em 0 2.5em 0;
padding: 0 0 .5em 0;
border-bottom:3px solid #ddd;
}

/* tables in general */
.expertsdb-taxon-interests th{
vertical-align:top;
}